@model Presupuesto.Models.TipoCuenta

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Editar", "TiposCuentas", FormMethod.Post))
{
    <div class="Centrar">
        <form asp-action="Create" method="post">
        <h1 class="Title">Editar a @Model.Nombre</h1>

        <div class="">
            @Html.LabelFor(model => model.Nombre)
            @Html.EditorFor(model => model.Nombre)

        </div>
        <br />
        <button class="BtnGuardar btn-dark btn-outline-info" data-id="@Model.Id" type="submit">Guardar Cambios</button>
        <br />
        <span asp-validation-for="Nombre" class="text-danger"></span>
        </form>
    </div>
}