

<div class="card-body">
    <a href="@Url.Action("Create", "TiposCuentas")" class="btn btn-outline-warning">Agregar</a>
</div>
<table id="tipoCunetas" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>UsuarioId</th>
            <th>Order</th>
            <th>Opciones</th>
        </tr>
    </thead>
</table>
                
<script>
    var urlEditar = '@Url.Action("Editar", "TiposCuentas")';
</script>